{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />    
</head>
<body>
    <header class="header">
        <div class="title">
            <h2>GPI</h2>
        </div>
        <div class="user">
            <figure class="avatar">
                <img src="{% static 'assets/logogpi.png' %}" alt="">
            </figure>
        </div>
    </header>
    <!-- ASIDE -->
    <aside class="aside">
        <ul class="aside-menu">
            <li class="aside-menu-item">
                <div class="icon-box">
                    <i class="bx bx-home"></i>
                </div>
            </li>
            {% if request.user.is_authenticated %}
                {% if request.user.is_customer %}
                    <li class="aside-menu-item">
                        <a href="{% url 'customer_dashboard' %}">
                            <div class="icon-box">
                                <i class="bx bx-user-circle"></i>
                            </div>
                        </a>
                    </li>
                    <li class="aside-menu-item">
                        <div class="icon-box">
                            <i class="bx bx-chat"></i>
                        </div>
                    </li>
                {% elif request.user.is_engineer %}
                    <li class="aside-menu-item">
                        <a href="{% url 'engineer_dashboard' %}">
                            <div class="icon-box">
                                <i class="bx bx-calendar"></i>
                            </div>
                        </a>
                    </li>
                    <li class="aside-menu-item">
                        <a href="{% url 'index' %}">
                            <div class="icon-box">
                                <i class="bx bx-time"></i>
                            </div>
                        </a>
                    </li>
                {% elif request.user.is_admin %}
                    <li class="aside-menu-item">
                        <a href="{% url 'admin_dashboard' %}">
                            <div class="icon-box">
                                <i class="bx bx-time"></i>
                            </div>
                        </a>
                    </li>
                {% endif %}
                <li class="aside-menu-item">
                    <a href="{% url 'logout' %}">
                        <div class="icon-box">
                            <i class="bx bx-power-off"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </aside>
    
<!-- MAIN -->
<main class="main">
<div class="wrapper">
    <div class="hero">
    <div class="hero-heading">
    </div>
    <div class="hero-search">
        <div class="input-group">
            <input type="text" name="" id="">
            <i class="bx bx-search"></i>
        </div>
        <span> Filter<i class="bx bx-filter-alt"></i></span>
    </div>
    <div class="hero-heading">
        <h3>Ongoing Project <i class="bx bx-chevron-down"></i></h3>
    </div>
<div class="project">
    <div class="col">
        <div class="project-card">
            <div class="card-header">
                <date class="date">{% now "j F" %}</date>
                <span><i class="bx bx-dots-vertical-rounded"></i></span>
            </div>
            <div class="card-body">
                <h6>Web Designing</h6>
                <p>Prototype</p>
            <div class="project-box">
                <label for="progress">Progress</label>
                <progress id="progress" value="90" max="100">90%</progress>
                <span>90%</span>
            </div>
            </div>
                <div class="card-footer">
                    <ul class="team">
                        <li class="team-member">
                            <img src="a.png" alt="">
                        </li>
                        <li class="team-member">
                            <img src="a.png" alt="">
                            <i class="team-member"></i>
                        </li>
                        <li class="team-member">
                            <img src="a.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

<div class="col">
    <div class="project-card">
        <div class="card-header">
            <date class="date">{% now "j F" %}</date>
            <span><i class="bx bx-dots-vertical-rounded"></i></span>
        </div>
        <div class="card-body">
            <h6>Web Designing</h6>
            <p>Prototype</p>
        <div class="project-box">
            <label for="progress">Progress</label>
            <progress id="progress" value="90" max="100">90%</progress>
            <span>90%</span>
        </div>
        </div>
            <div class="card-footer">
                <ul class="team">
                    <li class="team-member">
                        <img src="{% static 'assets/logogpi.png' %}" alt="">
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                        <i class="team-member"></i>
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
</div>

  <div class="col">
    <div class="project-card">
        <div class="card-header">
            <date class="date">{% now "j F" %}</date>
            <span><i class="bx bx-dots-vertical-rounded"></i></span>
        </div>
        <div class="card-body">
            <h6>Web Designing</h6>
            <p>Prototype</p>
        <div class="project-box">
            <label for="progress">Progress</label>
            <progress id="progress" value="90" max="100">90%</progress>
            <span>90%</span>
        </div>
        </div>
            <div class="card-footer">
                <ul class="team">
                    <li class="team-member">
                        <img src="a.png" alt="">
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                        <i class="team-member"></i>
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="col">
    <div class="project-card">
        <div class="card-header">
            <date class="date">{% now "j F" %}</date>
            <span><i class="bx bx-dots-vertical-rounded"></i></span>
        </div>
        <div class="card-body">
            <h6>Web Designing</h6>
            <p>Prototype</p>
        <div class="project-box">
            <label for="progress">Progress</label>
            <progress id="progress" value="90" max="100">90%</progress>
            <span>90%</span>
        </div>
        </div>
            <div class="card-footer">
                <ul class="team">
                    <li class="team-member">
                        <img src="a.png" alt="">
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                        <i class="team-member"></i>
                    </li>
                    <li class="team-member">
                        <img src="a.png" alt="">
                    </li>
                </ul>
            </div>
            
                </div>
            </div>
            
        </div>
    </div>
    <div class="chat">
        <div class="chat-heading">
            <h5>Client Messages</h5>
            <span><i class="bx bx-search"></i></span>
        </div>
        <div class="chat-list" role="list">
            <div class="chat-item" role="listitem">
               <figure>
                 <img src="{% static 'assets/logogpi.png' %}" alt="" class="chat-avatar">
                </figure>
            <div>
                <h6 class="chat-identifier">
                    David <span class="bx bx-star"></span>
                </h6>
                    <p>hey tell me about progress of project!</p>
                    <time>{% now "j F" %}</time>
                </div>
                </div>
                <div class="chat-item" role="listitem">
                    <figure>
                        <img src="{% static 'assets/logogpi.png' %}" alt="" class="chat-avatar">
                    </figure>
                <div>
                    <h6 class="chat-identifier">
                        David <span class="bx bx-star"></span>
                    </h6>
                        <p>hey tell me about progress of project!</p>
                        <time>{% now "j F" %}</time>
                    </div>
                    </div>
                    <div class="chat-item" role="listitem">
                        <figure>
                            <img src="{% static 'assets/logogpi.png' %}" alt="" class="chat-avatar">
                        </figure>
                    <div>
                        <h6 class="chat-identifier">
                            David <span class="bx bx-star"></span>
                        </h6>
                            <p>hey tell me about progress of project!</p>
                            <time>{% now "j F" %}</time>
                        </div>
                        </div>
                        <div class="chat-item" role="listitem">
                            <figure>
                                <img src="a.png" alt="" class="chat-avatar">
                            </figure>
                        <div>
                            <h6 class="chat-identifier">
                                David <span class="bx bx-star"></span>
                            </h6>
                                <p>hey tell me about progress of project!</p>
                                <time>{% now "j F" %}</time>
                            </div>
                            </div>
                        </div>
                      </div>
                  </div>
               </main>
    

<!-- Tilt -->
<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
       <b>{{message}}</b>
      </div>
      {% endfor %}
      {% endif %}
      
      {% block content %}
      {% endblock content %}
   
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js"></script>

<!-- main -->
<script src="{% static 'js/main.js '%}"></script>

</body>
</html>